<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Whatsapp Blaster</title>


    <link href=" {{ url_for('static',filename='assets/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href=" {{ url_for('static',filename='assets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}"
          rel="stylesheet">
    <link href=" {{ url_for('static',filename='assets/css/toastr.min.css') }}" rel="stylesheet">
    <link href=" {{ url_for('static',filename='assets/plugins/bower_components/morrisjs/morris.css') }}"
          rel="stylesheet">
    <link href=" {{ url_for('static',filename='assets/plugins/bower_components/chartist-js/dist/chartist.min.css') }}"
          rel="stylesheet">
    <link href=" {{ url_for('static',filename='assets/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css') }}"
          rel="stylesheet">
    <link href=" {{ url_for('static',filename='assets/css/animate.css') }}" rel="stylesheet">
    <link href=" {{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
          rel="stylesheet">


    <!-- color CSS -->

</head>
<body class="fix-header">

<div id="wrapper">

    <!-- Preloader -->
    <!-- ============================================================== -->


    <!-- Topbar header - style you can find in pages.scss -->

    <!-- ============================================================== -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <!-- Logo -->
                <a class="logo" href="index.html">


                    <!--This is dark logo icon-->
                    <img src="{{ url_for('static',filename='assets/plugins/images/admin-logo.png') }}" alt="home"
                         class="dark-logo"/>
                    <!--This is light logo icon-->
                    <img src="{{ url_for('static',filename='assets/plugins/images/admin-logo-dark.png') }}" alt="home"
                         class="light-logo"/>
                    </b>
                    <!-- Logo text image you can use text also -->
                    <span class="hidden-xs">
                        <!--This is dark logo text--><img
                            src="  {{ url_for('static',filename='assets/plugins/images/admin-text.png') }}" alt="home"
                            class="dark-logo"/>
                        <!--This is light logo text--><img
                            src="{{ url_for('static',filename='assets/plugins/images/admin-text-dark.png') }}"
                            alt="home"
                            class="light-logo"/>
                     </span> </a>
            </div>
            <!-- /Logo -->
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                     {% if session['name'] is defined %}
                        {{ session['name'] }}
                    {% endif %}
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">

                        <li>
                            <a href="#"
                               onclick="event.preventDefault();
                                   document.getElementById('logout-form').submit();">
                                Logout
                            </a>

                            <form id="logout-form" action="/logout" method="POST" style="display: none;">

                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- End Top Navigation -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span>
                </h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a href="/back" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/media" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Media
                        File Send</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->
    <div id="page-wrapper">
        {% block content %}


        {% endblock %}
    </div>

</div>

</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static',filename='assets/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/toastr.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bower_components/waypoints/lib/jquery.waypoints.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bower_components/counterup/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bower_components/chartist-js/dist/chartist.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/dashboard1.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bower_components/toast-master/js/jquery.toast.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</html>